.video1 {
  width: 1175px;
}
.hidearticles {
  display: none;
}
.articles {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}
.article {
  display: flex;
  flex-direction: column;
  width: 356px;
  border: 2px solid #6b6b6b;
  border-radius: 10px;
  height: 270px;
  color: #FFF;
  text-decoration: none;
  &-photo {
    object-fit: cover;
    min-height: 85%;
    width: 100%;
    border-radius: 10px;
  }
  &-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-text {
      display: none;
  }
  &:hover {
      border-color: #E55C22;
      color: #E55C22;
  }
}
.btn-format {
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}
.clicked-btn {
    border: 1px solid #E55C22; 
}
.clicked-text {
    color: #E55C22;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
}
.object {
  display: none;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #141210;
  &-general {
      border: 2px solid #6b6b6b;
      border-radius: 10px;
      padding-bottom: 40px;
  }  
  &-title {
      color: #db6735;
      font-family: Golos Text;
      font-size: 48px;
      font-weight: 500;
      line-height: 77px;
      padding-top: 40px;
      padding-left: 60px;
  }
  &-time {
      color: #a4a4a4;
      font-size: 24px;
      font-weight: 400;
      padding-left: 60px;
      padding-bottom: 10px;
  }
  &-content {
      font-family: Montserrat, sans-serif;
      color: #dfdfdf;
      font-size: 18px;
      text-align:justify;
      font-weight: 500;
      padding-left: 60px;
      padding-right: 60px;
  }
  &-button {
      margin-left: 60px;
      margin-top: 40px;
      background-color: #141210;
      color: #e2e2e2;
      font-size: 18px;
      width: 150px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid #F4F4F4;
      border-radius: 20px;
      &:hover {
          border-color: #E55C22;
          color: #E55C22;
      }
  }
}
.content-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out; 
}

.content-wrapper.active {
  height: auto; 
  overflow: visible;
  margin-top: 20px; 
}
.article-expanded {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.article-wrapper {
  margin-bottom: 1rem;
}
