.wrapper {
    height: 822px;
    background-color: #141210;
    position: relative;
}

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
}

.slick-prev,
.slick-next {
    display: none !important;
}

.custom-prev-arrow {
    position: absolute;
    left: 0;
    top: 60%;
    width: 60px;
    margin: -30px 20px 0px 20px;
    height: 60px;
    background: url("/img-video/arrow2.svg") 0 0 / 100% no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.custom-prev-arrow:hover {
    background: url("/img-video/arrow4.svg") 0 0 / 100% no-repeat;
    background-size: contain;
}

.custom-next-arrow {
    position: absolute;
    right: 0;
    top: 60%;
    width: 60px;
    height: 60px;
    margin: -30px 20px 0px 20px;
    background: url("/img-video/arrow3.svg") 0 0 / 100% no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.custom-next-arrow:hover {
    background: url("/img-video/arrow5.svg") 0 0 / 100% no-repeat;
    background-size: contain;
}

.slick-dots button::before {
    content: none !important;
}

.slick-dots button {
    background-color: #fff !important;
    border: 2px solid #fff !important;
    opacity: 0.3 !important;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-dots li {
    display: inline-block;
    margin: 0 60px;
}

.slick-dots li.slick-active button {
    background-color: #fff !important;
    opacity: 1 !important;
}

.slick-dots button:hover {
    background-color: #fff !important;
    opacity: 1 !important;
    border-color: #fff !important;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

.slider__item {
    position: relative;
}

.slider__item img {
    max-height: 740px;
    display: flex;
    justify-content: center
}

@media (max-width:768px) {
    .wrapper {
        padding: 0px;
    }

    .custom-prev-arrow {
        left: 0px;
        top: 500px !important;
        width: 40px !important;
        height: 40px !important;
        margin: -15px 5px 0 !important;
    }

    .custom-next-arrow {
        right: 10px;
        top: 490px;
        width: 40px !important;
        height: 40px !important;
        margin: -15px 5px 0 !important;
    }
}

@media (max-width:426px) {
    .wrapper {
        padding: 10px 10px;
    }

    .custom-prev-arrow {
        left: 0px;
        top: 480px;
        width: 30px !important;
        height: 30px !important;
        margin: -15px 5px 0 !important;
    }

    .custom-next-arrow {
        right: 10px;
        top: 490px;
        width: 30px !important;
        height: 30px !important;
        margin: -15px 5px 0 !important;
    }

    .slider {
        max-width: 100%;
    }

    .slick-dots {
        bottom: 5px;
        gap: 5px;

        button {
            width: 6px !important;
            height: 6px !important;
        }
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 20px;
    }
}